:root {
  --primary-color: #dddddd;
  --secondary-color: #f9f3f3;
  --accent-color: #deaaaa;
  --highlight-color: #f25287;
  --heading-font-family: "Archivo Black", sans-serif;
  --main-font-family: "Raleway", sans-serif;
}
body {
  background-color: var(--primary-color);

  margin: auto;
}
.container {
  max-width: 80%;
}
.logo {
  max-width: 42px;
  order: 0;
}
nav {
  background-color: var(--primary-color);
  padding: 5px 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: black;
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 1rem;
  margin-left: 30px;
}
nav a:hover {
  color: var(--highlight-color);
}
.active {
  color: var(--accent-color);
}
nav,
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.toggle {
  font-size: 16px;
  display: none;
}
.item {
  order: 1;
  position: relative;
  display: block;
  width: auto;
}
nav ul {
  align-items: center;
  list-style: none;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 260px;
  margin-top: 140px;
  margin-bottom: 150px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  line-height: 1.2;
  margin-top: 0;
}
p {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.button {
  margin-top: 30px;
  color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  background-color: transparent;
  padding: 10px 20px;
  font-family: var(--main-font-family);
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.button:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}
.projects-display {
  text-align: center;
  margin-bottom: 20px;
}
.project-img {
  max-height: 250px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  display: block;
  margin: auto;
}
.project-unit {
  margin-bottom: 20px;
}
.project-info {
  padding: 40px 20px;
}
.links {
  margin-top: 20px;
}
.link-icon {
  color: var(--accent-color);
}
.link-icon:hover {
  color: var(--highlight-color);
}
.about-display {
  margin-top: 70px;
  padding: 100px;
}
.about-me {
  margin-bottom: 40px;
}
.portrait-img {
  max-height: 425px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  display: block;
  margin: auto;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 260px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-block {
  margin: 10px 0 10px;
}
.contact-link {
  text-decoration: none;
  font-family: var(--main-font-family);
  color: black;
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}
.contact-link:hover {
  color: var(--highlight-color);
}
.contact-icon {
  color: var(--highlight-color);
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  color: var(--accent-color);
}
footer a,
footer i {
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--accent-color);
}
footer a:hover,
footer i:hover {
  color: var(--highlight-color);
}

@media (max-width: 900px) {
  body {
    max-width: 90%;
    text-align: center;
  }
  nav {
    display: block;
    padding: 3px 20px;
  }
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 3px 0 0 20px;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .menu li a {
    display: block;
    padding: 10px 0;
    margin: 0;
  }
  .toggle {
    order: 1;
    font-size: 20px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 3px 20px 0 0;
  }
  .item {
    order: 2;
    width: 100%;
    display: none;
  }
  .open .item {
    display: block;
  }
  .hero,
  .contact,
  .about-display {
    padding: 50px 20px;
    margin: 60px 0 0 0;
    align-items: center;
  }
  .container {
    max-width: 100%;
  }
  .scroll {
    margin-top: 200px;
  }
  h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  p {
    font-size: 0.9rem;
  }
  .button {
    padding: 5px 10px;
    font-size: 1rem;
    display: block;
    margin: auto;
  }
  .project-unit {
    margin: 0;
  }
  .project-info {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .portrait-img {
    margin-top: 20px;
  }
  .about-me {
    margin-bottom: 20px;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
}
